<h2 class="content-block">Profile</h2>

<div class="content-block dx-card responsive-paddings">
  <div class="form-avatar">
    <img
      src="https://js.devexpress.com/Demos/WidgetsGallery/JSDemos/{{
        employee.Picture
      }}"
    />
  </div>
  <span>{{ employee.Notes }}</span>
</div>

<div class="content-block dx-card responsive-paddings">
  <form id="form" [formGroup]="form">
    <div class="dx-field">
      <div class="dx-field-label">First Name</div>
      <div class="dx-field-value">
        <dx-text-box formControlName="name"></dx-text-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Last NAme</div>
      <div class="dx-field-value">
        <dx-text-box formControlName="lastName"></dx-text-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Gender</div>
      <div class="dx-field-value">
        <dx-text-box formControlName="gender"></dx-text-box>
      </div>
    </div>
    <div class="dx-field">
      <dx-button (onClick)="onSubmit()" text="submit"></dx-button>
      <dx-button (onClick)="reset()" text="reset"></dx-button>
    </div>
  </form>
</div>
